{% extends 'base.html' %}

{% block content %}
<br><br><br>
<main>
    <div class="container">  
    <div class="table-responsive">
        <h2>Order Detail</h2>
        <table class="table">
            <thead>
            <tr>
                <th class="text-success" colspan="4">OrderID</th>
                <th class="text-primary">{{ object.order_id }}</th>
                <th>
                <a href="{% url 'core:request-refund' %}" class="text-danger">
                    <strong class="float-end"> Refund </strong>
                </a>
                </th>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Discount</th>
                <th scope="col">Quantity</th>
                <th scope="col">Item(s) Total Price</th>
            </tr>
            </thead>
            <tbody>
            {% for order_item in object.items.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ order_item.item.title }}</td>
                <td>{{ order_item.item.price }}</td>
                <td>{{ order_item.item.discount }}</td>
                <td>{{ order_item.quantity }}</td>
                <td>{{ order_item.get_effective_price }}</td>
            </tr>
            
            {% endfor %}
                        
            {% if object.code %}
            <tr>
                <th colspan="5"><storng>Promo Code</strong></th>
                <td><strong>-$ {{ object.code.amount }}</strong>
            </tr>
            {% endif %}
            <tr>
                <th colspan="5">Order Total Price</th>
                <td><b>{{ object.get_total_price }}</b></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</main>
{% endblock %}